.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  right: 50px;
  bottom: 20px;  
  padding: 8px 16px;
}

.pagination button {
  background-color: #0d6efd;
  color: white;
  border: none;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  outline: none;
  box-shadow: 0 5px  #0b5ed7;
}
.pagination button:active{
  box-shadow: none;
    transform: translateY(5px);
}

.pagination button:hover {
  background-color: #0a58ca;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  outline: none;
  box-shadow: none;
}

.pagination span {
  font-size: 12px;
}