
   /* Table Container */
.table-container {
  max-width: 1400px;
  margin: 20px auto;
  overflow-x: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px #333;
  overflow-y: auto;
  max-height: 450px;
  scrollbar-width: thin;
    scrollbar-color: #c0c0c0 transparent;
    
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
  color: #333;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  color: #555;
  font-size: 10px;
}

/* Responsive Table */
@media screen and (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin-bottom: 10px;
  }

  td {
    padding-left: 50%;
    position: relative;
    text-align: right;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}