.search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input:focus {
    border-color: #009879;
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.2);
  }
  