.header {
  background-color: #009879;
  color: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.header-content {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
