
.date-filter {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .date-filter input {
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .date-filter button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .date-filter button:hover {
    background-color: #007a66;
  }
  .date-filter-container input::placeholder {
    color: #aaa;
    font-style: italic;
  }