* {
  font-family: sans-serif; 
  overflow: hidden;
}
.content {
  margin-top: 50px; 
}
.container{
  max-width: 1400px;
  padding: 10px;
  margin: auto;
}

.controls-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
}

.chart-container{
  max-height: 800px;
  max-width: 1200px;
  margin: auto;
}

.view-chart{
  padding: 10px 20px;
  background-color: #009879;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.chart-div{
  padding: 10px 0px 20px;
  text-align: right;
}


