.status-pill {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 12px;
  }
  
  .status-approved {
    background-color: #28a745;
  }
  
  .status-pending {
    background-color: #ffc107;
  }
  
  .status-rejected {
    background-color: #dc3545;
  }
  
  .status-released {
    background-color: #6c757d;
  }
  .btn-edit{
    margin: 0 10px;
    padding: 5px 10px;
    background-color: steelblue;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-save{
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #009879;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-cancel{
    margin: 0 10px;
    padding: 5px 10px;
    background-color: red;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .action-btn{
    display: flex;
  }
  .edit-form-input{
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }