.status-pill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 10px;
}

.status-approved {
  background-color: #28a745;
}

.status-pending {
  background-color: #ffc107;
  border-color: #ffc107;
}
.status-pending:hover {
  color: #fff;
  background-color: #ffca2c;
  border-color: #ffc720;
  cursor: pointer;
}

.status-rejected {
  background-color: #dc3545!important;
}

.status-released {
  background-color: #6c757d;
}

  .btn-edit{
    margin: 10px 5px;
    padding: 4px 10px;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    outline: none;
    box-shadow: 0 5px  #31d2f2;
  }
  .btn-edit:active {
    box-shadow: none;
    transform: translateY(5px);
  }
  .btn-edit:hover {
    color: #fff;
    background-color: #31d2f2;
    border-color: #25cff2;
}
  .btn-view{
    margin: 10px 5px;
    padding: 4px 10px;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    outline: none;
    box-shadow: 0 5px  #146c43;
  }
  .btn-view:active {
    box-shadow: none;
    transform: translateY(5px);
  }
  .btn-view:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
  .btn-save{
    margin: 10px 5px;
    padding: 4px 10px;
    background-color: #009879;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    outline: none;
    box-shadow: 0 5px  #157347;
  }
  .btn-view:active {
    box-shadow: none;
    transform: translateY(5px);
  }
  .btn-cancel{
    margin: 10px 5px;
    padding: 4px 10px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    outline: none;
    box-shadow: 0 5px  #bb2d3b;
  }
  .btn-cancel:active {
    box-shadow: none;
    transform: translateY(5px);
  }
  .btn-cancel:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}
  
  .action-btn{
    display: flex;
    border-bottom: none;
  }
  .edit-form-input{
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 10px;
  }